@use '@/assets/styles/mixins';

.nav-panel {
  user-select: none;
  background-color: white;
  display: flex;
  justify-content: center;

  .button-swiper {
    display: flex;

    border: none;
    z-index: 9999999;
    outline: none;
    cursor: pointer;
    transition: 100ms ease-in-out;

    &:active {
      opacity: 50%;
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      height: auto;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;

      .swiper-slide__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        width: 100%;
        height: 100%;
        background-color: #d7d7d7;
        border-radius: 7px;
        text-align: center;
        transition: 200ms ease-in-out;

        &:hover {
          background-color: #606060;
        }
      }
    }
  }

  @include mixins.respond-to('small') {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    padding: calc(2 * 0.25vw);
    height: fit-content;

    .buttonNext {
      margin-left: calc(3 * 0.25vw);
    }

    .buttonPrev {
      margin-right: calc(3 * 0.25vw);
    }

    .button-swiper {
      align-self: center;
      height: calc(25 * 0.25vw);
    }

    .swiper-wrapper {
      .swiper-slide {
        .swiper-slide__link {
          padding: calc(1 * 0.25vw);
          font-size: calc(14 * 0.25vw);
        }
      }
    }
  }
  @include mixins.respond-to('xsmall') {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    padding: calc(2 * 0.25vw);
    height: fit-content;

    .buttonNext {
      margin-left: calc(3 * 0.25vw);
    }

    .buttonPrev {
      margin-right: calc(3 * 0.25vw);
    }

    .button-swiper {
      align-self: center;
      height: calc(15 * 0.25vw);
    }

    .swiper-wrapper {
      .swiper-slide {
        .swiper-slide__link {
          font-size: calc(9 * 0.25vw);
        }
      }
    }
  }
  @include mixins.respond-to('medium') {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    padding: calc(1 * 0.25vw);
    height: fit-content;

    .buttonNext {
      margin-left: calc(3 * 0.25vw);
    }

    .buttonPrev {
      margin-right: calc(3 * 0.25vw);
    }

    .button-swiper {
      align-self: center;
      height: calc(7 * 0.25vw);
    }

    .swiper-wrapper {
      .swiper-slide {
        .swiper-slide__link {
          font-size: calc(6 * 0.25vw);
        }
      }
    }
  }
  @include mixins.respond-to('large') {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    padding: calc(1 * 0.25vw);
    height: fit-content;

    .buttonNext {
      margin-left: calc(3 * 0.25vw);
    }

    .buttonPrev {
      margin-right: calc(3 * 0.25vw);
    }

    .button-swiper {
      align-self: center;
      height: calc(7 * 0.25vw);
    }

    .swiper-wrapper {
      .swiper-slide {
        .swiper-slide__link {
          font-size: calc(5 * 0.25vw);
        }
      }
    }
  }
  @include mixins.respond-to('xlarge') {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    padding: calc(1 * 0.25vw);
    height: fit-content;

    .buttonNext {
      margin-left: calc(3 * 0.25vw);
    }

    .buttonPrev {
      margin-right: calc(3 * 0.25vw);
    }

    .button-swiper {
      align-self: center;
      height: calc(7 * 0.25vw);
    }

    .swiper-wrapper {
      .swiper-slide {
        .swiper-slide__link {
          font-size: calc(4 * 0.25vw);
        }
      }
    }
  }
  @include mixins.respond-to('xxlarge') {
    border-top: 2px solid #c5c5c5;
    border-bottom: 2px solid #c5c5c5;
    padding: calc(1 * 0.25vw);
    height: calc(13 * 0.25vw);

    .buttonNext {
      margin-left: calc(3 * 0.25vw);
    }

    .buttonPrev {
      margin-right: calc(3 * 0.25vw);
    }

    .button-swiper {
      align-self: center;
      height: calc(7 * 0.25vw);
    }

    .swiper-wrapper {
      .swiper-slide {
        .swiper-slide__link {
          font-size: calc(4 * 0.25vw);
        }
      }
    }
  }
}
