.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  font-size: 1.3rem;
}

.accordion-body {
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .accordion-button {
    font-size: 1.2rem;
  }

  .accordion-body {
    font-size: 1.1rem;
  }
}
