$bg-button-s-info: #cccccc;

.education {
	user-select: none;
	max-width: calc(100vw - 100px);
	margin: 20px auto;
	padding: 20px 10px 10px 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background: #f9f9f9;
}

.education__title {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.education_tabs {
	display: flex;
	max-width: calc(100vw - 100px);
	align-self: center;
	justify-content: center;
	align-items: center;
	
	.education_item {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: fit-content;
		height: 100%;
		font-family: Arial, serif;
		
		font-size: calc(4 * 0.27vw);
		text-wrap: nowrap;
		background: #e2e2e2ff;
		border-radius: 7px;
		padding: 15px;
		text-decoration: none;
		color: black;
		transition: 100ms ease-in-out;
		
		&:hover {
			background-color: #adadad;
			transform: translateY(5px);
		}
		
		&:not(:first-child) {
			margin-left: 5px;
		}
		
		&:not(:last-child) {
			margin-right: 5px;
		}
	}
}

.info__wrapper {
	display: flex;
	align-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(100vw - 100px);
	margin-top: calc(10 * .25vw);
	
	.button__show_info {
		outline: none;
		width: fit-content;
		height: fit-content;
		border: none;
		background-color: $bg-button-s-info;
		padding: 15px 15px;
		border-radius: 7px;
		text-align: center;
		font-size: calc(4 * 0.25vw);
		transition: 100ms ease-in-out;
		
		&:hover {
			background-color: #adadad;
		}
		
		&.active {
			background-color: #8c8c8c !important;
		}
	}
	
	.info_context {
		user-select: none;
		overflow: hidden;
		padding: 10px;
		animation: showInfo 200ms ease-in-out;
		margin-top: calc(5 * .25vw);
		font-size: calc(4 * 0.23vw);
		text-align: justify;
		border-radius: 13px;
		border: 1px solid #c7c7c7;
	}
}

.tabs {
	border-top-right-radius: 13px;
	border-top-left-radius: 13px;
	padding-top: 20px;
	margin-top: calc(10 * 0.25vw);
	background-color: #efefef;
	width: calc(100vw - 40%);
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	.tabs__btn {
		&:first-child {
			margin-right: 35px;
		}
		
		&:last-child {
			margin-left: 35px;
		}
		
		padding: 10px 20px;
		font-size: 20px;
		border-radius: 6px;
		text-align: center;
		border: none;
		background-color: #e6e6e6
	}
}

.active {
	transition: 200ms ease-in-out;
	background-color: #8c8c8c !important;
}

.content {
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	align-self: center;
	background-color: #efefef;
	width: calc(100vw - 40%);
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	font-size: calc(4 * 0.25vw);
}

@keyframes showInfo {
	0% {
		max-height: 0;
		opacity: 0;
	}
	100% {
		max-height: 300px;
		opacity: 1;
	}
}
