@use '@/assets/styles/mixins';
@use 'sass:map';

$sizes: (
);

.education {
	display: flex;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	
	.education__intro {
		width: 80%;
		align-self: center;
		background-color: #fbfbfb;
		border: 1px solid #d3d3d3;
		padding: 1.5rem;
		margin: 1rem;
		border-radius: 13px;
		text-align: center;
		text-wrap: balance;
		
		.education__title {
			font-size: calc(6 * 0.25vw);
		}
		
		p {
			font-size: calc(5 * 0.25vw);
		}
	}
	
	.education__nav {
		display: flex;
		flex-direction: row;
		align-self: center;
		width: 100%;
		height: fit-content;
		margin-bottom: calc(4 * .25vw);
		
		.education__item {
			text-decoration: none;
			color: black;
			padding: 0.50rem;
			text-align: center;
			font-size: calc(4 * 0.25vw);
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #d0d0d0;
			margin: 0 1rem;
			border-radius: 7px;
			transition: all 0.25s ease;
			
			&:hover {
				background-color: #b1b1b1;
				transform: scale(1.05);
			}
		}
	}
	
	.education__details {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 1rem;
		
		background-color: #f9f9f9;
		border-radius: 12px;
		box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
		opacity: 0;
		transform: translateY(50px);
		animation: showInfo 500ms forwards ease;
		
		&-title {
			padding-top: 1rem;
			font-size: calc(5 * 0.25vw);
		}
		
		&-context {
			padding: 1rem 2rem 1rem 2rem;
			text-align: left;
			text-wrap: balance;
			font-size: calc(4 * 0.25vw);
		}
	}
}

@keyframes showInfo {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}