@use '@/assets/styles/mixins';

$font-sizes: (
  small: calc(10 * 0.25vw),
  xsmall: calc(5 * 0.25vw),
  medium: calc(4 * 0.25vw),
  large: calc(3 * 0.25vw),
  xlarge: calc(3 * 0.25vw),
  xxlarge: calc(3 * 0.25vw),
);

.footer {
  margin-top: auto;
  border-top: 1px solid #2e2e2e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;

  @each $size, $font-size in $font-sizes {
    @include mixins.respond-to($size) {
      & {
        font-size: $font-size;
        padding: calc(0.5 * 0.25vw) 0;
      }
    }
  }
}
