$content-wrapper-height: 320px;

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .content-wrapper__title {
    width: 100%;
    text-align: center;

    @media (min-width: 1280ox) {
      font-size: calc(5 * 0.25vw);
    }
  }

  .content-wrapper__context {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;

    @media (min-width: 1280px) {
      height: $content-wrapper-height;
      max-height: $content-wrapper-height;
    }

    .content-wrapper__image {
      height: 100%;
      border-radius: 13px;
      margin-left: 15px;
      @media (min-width: 1280px) {
        width: 400px;
      }
    }

    .content-wrapper__text {
      padding: 0 20px;
      overflow: auto;
      height: 100%;
      max-height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .content-wrapper__paragraph {
        padding: 0;
        margin: 0;
        font-size: 20px;
        @media (min-width: 1280px) {
          line-height: 35px;
          font-size: calc(5 * 0.25vw);
        }

        .content-wrapper__link {
          text-decoration: none;
          color: blue;
          text-wrap: nowrap;
        }
      }
    }
  }

  .contact-info {
    border-radius: 7px;
    border: 1px solid black;
    font-size: calc(1 * 1.1vw);
    margin-top: auto;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 180px;
    height: calc(12 * 1vw);
    overflow: auto;
    display: flex;
    align-items: center;
    padding: 20px;

    .contact-info__legend {
      text-align: center;
      padding: 0 20px;
      font-size: calc(1 * 1.25vw);

      .contact-info__link {
        text-decoration: none;
        color: #6c6c6c;
        font-weight: 600;
      }
    }

    .contact-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      height: auto;

      .contact-info__details {
        background-color: #e6f5ff;
        display: flex;
        justify-content: space-around;
        align-items: start;
        border-radius: 13px;
        width: 100%;
        height: auto;
        margin-right: 15px;
        padding: 20px;

        .contact-info__section {
          width: 100%;
          height: 100%;
          justify-content: start;
          display: flex;
          flex-direction: column;

          &:last-child {
            margin-left: 50px;
          }

          .contact-info__label {
            font-size: calc(5 * 0.25vw);
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
          }

          .contact-info__item {
            text-wrap: nowrap;
            font-size: calc(5 * 0.24vw);
            line-height: calc(7 * 0.25vw);
          }
        }
      }

      .contact-info__address {
        background-color: #e6f5ff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 13px;
        height: auto;
        padding: 30px;

        .contact-info__address-item {
          font-size: calc(5 * 0.25vw);
        }
      }
    }
  }
}
