@use '@/assets/styles/mixins';

.top_header__context_link {
  height: fit-content;
  text-decoration: none;

  @include mixins.respond-to('small') {
    padding-top: 15px;
    margin-left: 5px;
    padding-bottom: 15px;
  }

  .context {
    color: black;
    @include mixins.respond-to('small') {
      text-align: center;
      &:first-child {
        font-size: calc(20 * 0.25vw);
      }
      &:last-child {
        margin-top: 15px;
        font-weight: 600;
        font-size: calc(18 * 0.25vw);
      }
    }
  }
}
