@use '@/assets/styles/mixins';
@use 'sass:map';

$border-color: #c6c6c6;
$padding-margin: calc(3 * 0.25vw);
$font-sizes: (
  small: calc(10 * 0.25vw),
  xsmall: calc(9 * 0.25vw),
  medium: calc(5 * 0.25vw),
  large: calc(5 * 0.25vw),
  xlarge: calc(5 * 0.25vw),
  xxlarge: calc(5 * 0.25vw),
);

@mixin respond-to-all {
  @each $size in small, xsmall, medium, large, xlarge, xxlarge {
    @include mixins.respond-to($size) {
      @content;
    }
  }
}

.top_header__context_link {
  height: fit-content;
  text-decoration: none;

  @include respond-to-all {
    margin: 0 $padding-margin;
  }

  &:hover {
    .context {
      color: #919191;
    }
  }

  &:active,
  &:visited {
    color: black;
  }

  .context {
    color: black;
    margin: 0 10px;
    transition: color 200ms ease-in-out;
    text-align: center;

    @each $size, $font-size in $font-sizes {
      @include mixins.respond-to($size) {
        &:first-child {
          font-size: $font-size;
        }
        &:last-child {
          margin-top: calc(4 * 0.25vw);
          font-weight: 600;
          font-size: $font-size;
        }
      }
    }

    @include respond-to-all {
      text-align: left;
    }
  }
}
