@use '@/assets/styles/mixins';
@use 'sass:map';

$dimensions: (
  small: 60,
  xsmall: 45,
  medium: 35,
  large: 28,
  xlarge: 25,
  xxlarge: 23,
);

.top_header__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100%;

  @each $size, $dimension in $dimensions {
    @include mixins.respond-to($size) {
      min-width: calc(#{$dimension} * 0.25vw);
      max-width: calc(#{$dimension} * 0.25vw);
      @if $size != 'small' {
        margin-right: calc(4 * 0.25vw);
      }
      @if $size == 'xxlarge' {
        margin-left: auto;
      }
    }
  }
}
