@use '@/assets/styles/mixins';
@use 'sass:map';

.top_header__context_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;

  &:hover {
    .context {
      color: #505050;
    }
  }

  .context {
    transition: color 200ms ease-in-out;
    text-align: left;
    @include mixins.respond-to('small') {
      font-size: calc(5 * 0.25vw);
      &:last-child {
        margin-top: calc(3 * 0.25vw);
        font-weight: 600;
      }
    }
    @include mixins.respond-to('xsmall') {
    }
    @include mixins.respond-to('medium') {
      margin-left: calc(7 * 0.25vw);
      font-size: calc(7 * 0.25vw);
      &:last-child {
        margin-top: calc(3 * 0.25vw);
        font-weight: 600;
      }
    }
    @include mixins.respond-to('large') {
      margin-left: calc(7 * 0.25vw);
      font-size: calc(6 * 0.25vw);
      &:last-child {
        margin-top: calc(3 * 0.25vw);
        font-weight: 600;
      }
    }
    @include mixins.respond-to('xlarge') {
      margin-left: calc(5 * 0.25vw);
      font-size: calc(5 * 0.25vw);
      &:last-child {
        margin-top: calc(3 * 0.25vw);
        font-weight: 600;
      }
    }
    @include mixins.respond-to('xxlarge') {
      margin-left: calc(6 * 0.25vw);
      font-size: calc(5 * 0.25vw);
      &:last-child {
        margin-top: calc(3 * 0.25vw);
        font-weight: 600;
      }
    }
  }

  //@each $breakpoint, $size in $sizes {
  //  margin-left: $size;
  //  .context {
  //    transition: color 200ms ease-in-out;
  //    font-size: $size;
  //    text-align: left;
  //
  //    &:last-child {
  //      margin-top: $size;
  //      font-weight: 600;
  //    }
  //  }
  //}
}
