@use '@/assets/styles/mixins';
@use 'sass:map';

$dimensions: (
  small: 40,
  xsmall: 25,
  medium: 20,
  large: 18,
  xlarge: 18,
  xxlarge: 18,
);

.top_header__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100%;

  @each $size, $dimension in $dimensions {
    @include mixins.respond-to($size) {
      min-width: calc(#{$dimension} * 0.25vw);
      max-width: calc(#{$dimension} * 0.25vw);
      @if $size != 'small' {
        margin-right: calc(4 * 0.25vw);
      }
      margin-left: auto;
    }
  }
}
