@use '@/assets/styles/mixins.scss';
@use 'sass:map';

$sizes: (
	small: (
		width: calc(100% - 100 * 0.25vw),
		mr: calc(2 * 0.25vw),
		ml: calc(2 * 0.25vw),
		padding: calc(3 * 0.25vw),
		title-ft: calc(14 * 0.25vw),
		align-self: center,
		margin-top: 0.5rem,
		margin-bottom: 1rem,
	),
	xsmall: (
		width: calc(100% - 200 * 0.25vw),
		mr: calc(2 * 0.25vw),
		ml: calc(2 * 0.25vw),
		padding: calc(3 * 0.25vw),
		title-ft: calc(10 * 0.25vw),
		align-self: center,
		margin-top: 1rem,
		margin-bottom: 1rem,
	),
	medium: (
		width: calc(100% - 200 * 0.25vw),
		mr: calc(2 * 0.25vw),
		ml: calc(2 * 0.25vw),
		padding: calc(3 * 0.25vw),
		title-ft: calc(6 * 0.25vw),
		align-self: center,
		margin-top: calc(1 * 0.25vw),
		margin-bottom: calc(10 * 0.25vw),
	),
	large: (
		width: calc(70 * 0.25vw),
		mr: calc(2 * 0.25vw),
		ml: calc(2 * 0.25vw),
		padding: calc(1 * 0.25vw),
		title-ft: calc(4 * 0.25vw),
		align-self: start,
		margin-top: 1rem,
		margin-bottom: 1rem,
	),
	xlarge: (
		width: calc(70 * 0.25vw),
		mr: calc(2 * 0.25vw),
		ml: calc(2 * 0.25vw),
		padding: calc(1 * 0.25vw),
		title-ft: calc(4 * 0.25vw),
		align-self: start,
		margin-top: 1rem,
		margin-bottom: 1rem,
	),
	xxlarge: (
		width: calc(70 * 0.25vw),
		mr: calc(2 * 0.25vw),
		ml: calc(2 * 0.25vw),
		padding: calc(1 * 0.25vw),
		title-ft: calc(4 * 0.25vw),
		align-self: start,
		margin-top: 1rem,
		margin-bottom: 1rem,
	),
);


.library__access {
	@each $size, $value in $sizes {
		@include mixins.respond-to($size) {
			align-self: map.get($value, align-self);
			width: map.get($value, width);
			margin-right: map.get($value, mr);
			margin-left: map.get($value, ml);
			.library__access-title {
				font-size: map.get($value, title-ft);
			}
			.library__access-input {
				width: 100%;
				border: 1px solid #ccc;
				border-radius: 0.45rem;
				margin-top: map.get($value, margin-top);
				margin-bottom: map.get($value, margin-bottom);
				padding: map.get($value, padding);
			}
			.library__access-button {
				width: 70%;
				border: 1px solid #ccc;
				border-radius: 13px;
				padding: map.get($value, padding);
				margin-bottom: map.get($value, margin-bottom);
				transition: all 0.3s ease;
				
				&:hover {
					background-color: #5f5f5f;
					color: #fff;
				}
			}
		}
	}
	.library__access-error {
		color: red;
		margin-top: 10px;
	}
}