html,
body {
  height: 100vh;
  width: 100%;
}

body {
  background: white;
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

#app {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 13px;
}

/* Изменение стилей при наведении на бегунок скроллбара */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Стили для фона скроллбара */

::-webkit-scrollbar-track {
  background: #c3c3c3;
  border-radius: 7px;
}
