html,
body {
  width: 100%;
  height: auto;
}

#app {
  width: 100%;
  height: auto;
}

:root {
  --text-color: #000000;
  --hv-text-color: #757575;
  --bg-color: #ffffff;
  --hover-bg-color: #ffffff;
  --border-color: #000000;
  --hover-border-color: #000000;
  --header-color: #000000;
  --hover-header-color: #000000;
  --p-color: #000000;
  --hover-p-color: #000000;
  --font: 'Roboto', sans-serif;
  --header-font: 1.2rem;
  --p-font: 1rem;
}
