@use '@/assets/styles/mixins' as mixins;
@use 'sass:map';

$border-color: #c6c6c6;
$dimensions: (
	small: 55,
	xsmall: 50,
	medium: 30,
	large: 25,
	xlarge: 20,
	xxlarge: 15,
);

#flag {
	position: relative;
	border-radius: 300px;
	background: #fff;
	overflow: hidden;
	margin-left: calc(4 * 0.25vw);
	
	@each $size, $dimension in $dimensions {
		@include mixins.respond-to($size) {
			border: 1px solid $border-color;
			min-height: calc(#{$dimension} * 0.25vw);
			max-height: calc(#{$dimension} * 0.25vw);
			min-width: calc(#{$dimension} * 0.25vw);
			max-width: calc(#{$dimension} * 0.25vw);
		}
	}
}

/* Styles for waves on the flag */
.wave2,
.wave3 {
	left: -50%;
	position: absolute;
	width: 200%;
	height: 200%;
	border-radius: 45%;
	animation: wave 10s linear infinite;
}

.wave2 {
	top: 30%;
	background-color: blue;
}

.wave3 {
	top: 66%;
	background-color: red;
}

@keyframes wave {
	100% {
		transform: rotate(360deg);
	}
}
